---
layout: layout.liquid
title: Random Name Selector
---

<div x-data="{
        name: '',
        namesList: ['Ulas', 'Boran', 'Katara', 'Sulo', 'Mick', 'Sabreena', 'Fred', 'Lana', 'Leo', 'Thomas']
    }">
    <button @click="name = nameSelector(namesList)">Name Selector</button>
    <h1 x-text="name"></h1>
</div>
