---
title: Random Name Selector
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="/styles/utilities.js" defer></script>
</head>
<body>
    {{ content }}
</body>
</html>