:root{
    --main-bg-color: #a67db8;
    --button-text-color: #ecfee8;
    --button-color: #00a6a6;
    --main-text-color: #30323d;
    --button-hover-color: #eeb902;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Arial', sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: var(--button-color);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-size: 6em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 50px;
    color: var(--button-text-color);
    margin-top: 150px;
}

button:hover {
    background-color: var(--button-hover-color)
}

h1 {
    color: var(--main-text-color);
    font-size: 6em;
    margin-top: 25px;
}